

.sortable-chosen {
    border: 1px solid #555;
    background: #999;
}

.sortable-fallback,
.sortable-drag {
    opacity: 1 !important;
}

.sortable-ghost {
    opacity:0.5;
}
.zone-target-active, .zone-hover, .dropzone-active {
    border: 3px dashed #fff;
}
.hover:hover {
    background: #cccccc33;
}


