
.header {
    height: var(--tsp-header-height);
    align-items: center;
    border-bottom: 1px solid var(--tblr-border-color);
}

.footer {
   display:none;
}
.profile {
    display:none;
}
.scrollable {
 
    height: calc(100vh - var(--tsp-header-height) - var(--tsp-user-profile-height) - var(--tsp-footer-height));
    overflow-y: auto;
}


.toggler {
  
}

/*.form-check:has(.toggler:checked) + .scrollable {
    display: block !important;
}*/

@media (min-width: 992px) {
    .toggler {
        display: none;
    }
    .profile {
        display: block;
    }
    .scrollable {
   
        
        height: calc(100vh - var(--tsp-header-height) - var(--tsp-user-profile-height) - var(--tsp-footer-height));
        overflow-y: auto;
    }
    .footer {
        display:initial;
        height: var(--tsp-footer-height);
        align-items: center;
        border-top: 1px solid var(--tblr-border-color);
    }
}
