
.header {
    height: var(--tsp-header-height);
    align-items: center;
    border-bottom: 1px solid var(--tblr-border-color);
}

.footer {
   display:none;
}

.scrollable {
    display: none;
}

.togglerPos {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.toggler {
    
}

.form-check:has(.toggler:checked) + .scrollable {
    display: block !important;
}

@media (min-width: 992px) {
    .toggler {
        display: none;
    }

    .scrollable {
        display: block;
        height: calc(100vh - var(--tsp-header-height) - var(--tsp-footer-height));
        overflow-y: auto;
    }
    .footer {
        display:initial;
        height: var(--tsp-footer-height);
        align-items: center;
        border-top: 1px solid var(--tblr-border-color);
    }
}
