
.header {
    height: var(--tsp-header-height);
    align-items: center;
    border-bottom: 1px solid var(--tblr-border-color);
}

.footer {
   display:none;
}

.nav-scrollable {
    display: none;
}

.navbar-toggler {
    appearance: button;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
    .navbar-toggler:checked ~ .nav-scrollable {
        display: block;
    }

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        height: calc(100vh - var(--tsp-header-height) - var(--tsp-footer-height));
        overflow-y: auto;
    }
    .footer {
        display:initial;
        height: var(--tsp-footer-height);
        align-items: center;
        border-top: 1px solid var(--tblr-border-color);
    }
}
