:root {
    --tsp-hover: #77777711;
    --tsp-hover-light: #cccccc11;
}


html, body {
/*    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    height: 100vh;
    overflow: hidden;
}

.pointer {
    cursor:pointer;
}
.hover:hover {
    background-color: var(--tsp-hover) !important;
    transition: background-color 0.25s ease;
}

.overlay {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-in-out;
}

.overlay-container:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}