:root {
    --tsp-hover: #99999911;
}


html, body {
/*    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    height: 100vh;
    overflow: hidden;
}

.pointer {
    cursor:pointer;
}
.hover:hover {
    background-color: var(--tsp-hover) !important;
    transition: background-color 0.25s ease;
}