
:root {
    --tblr-dropdown-item-padding-x: 0.65rem !important;
    --tblr-dropdown-item-padding-y: 0.35rem !important;
    --tblr-dark-mode-border-color-translucent: #99999933 !important;
    --tblr-border-color: #99999933 !important;
}



[data-bs-theme=light] {
}

[data-bs-theme=dark] {
    --tblr-body-bg: #292b33;
    --tblr-bg-surface: #24272d;
    /*--tblr-primary: #066fd1;*/
}


/* not */
[class*="tox"] {
    background-color: var(--tblr-bg-surface) !important;
    border: 0px solid transparent !important;
    outline: none !important;
}

.input-group-text {
    padding: .35rem 0.65rem !important;
    border: none !important;
}






/* Der obere Rahmen wird nur gesetzt, wenn der Container nicht leer ist */
.list {
    border-top: 1px solid transparent;
}
.list:hover:not(:empty) {
    border-top: var(--tblr-border-width) solid var(--tblr-border-color);
}

/* Jedes Zeilenelement erhält den unteren Rahmen */
.list-item {
    border-bottom: 1px solid transparent;
}
.list-item:hover {
    border-bottom: var(--tblr-border-width) solid var(--tblr-border-color);
}



.hr-text {
    margin: 1.5rem 0rem 0.5rem 0rem !important;
}

.progress-bar {
    background-color: var(--tsp-label) !important;
}

.progress {
    border-radius: 2px 2px;
}

.nav-link:focus, .nav-link:hover {
    color: inherit !important;
}

.form-switch .form-check-input:focus {
    border-color: #ccc !important;
    box-shadow: #ccc; /* Das hellblaue Leuchten */
}



.form-check {
    /*display: block;
    min-height: 1.25rem;
    padding-left: 2rem;*/
    margin-bottom: 0 !important;
}



.dropdown-item {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    cursor: pointer;
}


.btn-primary {
    background-color: #fff !important;
    color: #555 !important;
}

.btn-compact {
    padding: 0.15rem 0.35rem;
    font-size: 0.75rem;
    line-height: 1.2;
}

/* Stile für Aktivierung (Mouse Down) und Fokus */
.btn:active,
.btn:focus,
.btn:focus-visible {
    color: #ffffff !important;
    border-color: #ffffff !important;
    box-shadow: none !important; /* Weißer Fokus-Schatten */
    outline: none !important;
}

.btn .icon {
    margin-right: 0 !important;
}

.tox .tox-tbtn svg {
    fill: #ccc !important;
}

.tox .tox-mbtn {
    color: #ccc !important;
}

.tox .tox-collection__item {
    color: #ccc !important;
}

.tox :not(svg):not(rect) {
    color: #ccc !important;
    fill: #ccc !important;
}

/* Standardzustand: Das Dropdown nutzt wieder Bootstraps normales An-/Ausblenden */
.dropdown-menu {
    opacity: 0;
    transform: translateY(10px);
    transition: none;
}

    .dropdown-menu.show {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    }


.form-control:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #555555;
}

.input-group {
    border: none !important;
    box-shadow: none !important;
}

.input-group-text {
    background-color: transparent !important;
    border: none;
}

.dropdown-item:focus, .dropdown-item:hover {
    border-radius: 0.35rem !important;
}

.form-check-input {
    box-shadow: none;
}

    .form-check-input:focus {
        border-color: var(--tblr-border-color-translucent);
    }

    .form-check-input:checked {
        background-color: #555;
        border-color: var(--tblr-border-color-translucent);
    }

.icon {
    --tblr-icon-size: 1.0rem !important;
    vertical-align: middle !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: initial !important;
    margin: 0px !important;
}

.modal-footer {
    background: none !important;
}

.markdown > table thead th, .table thead th {
    background: none !important;
    border-bottom-width: 1px !important;
}


.vr {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.form-label {
    padding-left: 9px !important;
    margin-bottom: 3px;
}

.col-025 {
    flex: 0 0 auto;
    width: 2.08333333%;
}

.col-050 {
    flex: 0 0 auto;
    width: 4.16666667%;
}

.col-075 {
    flex: 0 0 auto;
    width: 6.25%;
}

.dropdown-item:active,
.dropdown-item.active {
    color: #999999 !important;
    background-color: rgba(215, 215, 215, 0.1) !important;
}

.p-05 {
    padding: 0.125rem !important;
}

.px-05 {
    padding-left: 0.125rem !important;
    padding-right: 0.125rem !important;
}

.py-05 {
    padding-top: 0.125rem !important;
    padding-bottom: 0.125rem !important;
}

.ps-05 {
    padding-left: 0.125rem !important;
}

.pe-05 {
    padding-right: 0.125rem !important;
}

.pt-05 {
    padding-top: 0.125rem !important;
}

.pb-05 {
    padding-bottom: 0.125rem !important;
}








.p-025 {
    padding: 0.065rem !important;
}

.px-025 {
    padding-left: 0.065rem !important;
    padding-right: 0.065rem !important;
}

.py-025 {
    padding-top: 0.065rem !important;
    padding-bottom: 0.065rem !important;
}

.ps-025 {
    padding-left: 0.065rem !important;
}

.pe-025 {
    padding-right: 0.065rem !important;
}

.pt-025 {
    padding-top: 0.065rem !important;
}

.pb-025 {
    padding-bottom: 0.065rem !important;
}

.markdown > table > :not(caption) > * > *, .table > :not(caption) > * > * {
    padding: .25rem .5rem !important; /* Zelle*/
}
