
:root {
    --tblr-dropdown-item-padding-x: 0.65rem !important;
    --tblr-dropdown-item-padding-y: 0.35rem !important;
}



[data-bs-theme=light] {
}

[data-bs-theme=dark] {
    --tblr-body-bg: #292b33;
    --tblr-bg-surface: #24272d;
    /*--tblr-primary: #066fd1;*/
}


/* not */
[class*="tox"] {
    background-color: var(--tblr-bg-surface) !important;
    border: 0px solid transparent !important;
    outline: none !important;
}

.nav-link:focus, .nav-link:hover {
    color:inherit !important;
}

.btn-primary {
    background-color: #fff !important;
    color: #555 !important;
}

.tox .tox-tbtn svg {
    fill: #ccc !important;
}

.tox .tox-mbtn {
    color: #ccc !important;
}

.tox .tox-collection__item {
    color: #ccc !important;
}

.tox :not(svg):not(rect) {
    color: #ccc !important;
    fill: #ccc !important;
}

/* Standardzustand: Das Dropdown nutzt wieder Bootstraps normales An-/Ausblenden */
.dropdown-menu {
    opacity: 0;
    transform: translateY(10px);
    transition: none;
}

    .dropdown-menu.show {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    }


.form-control:focus {
    box-shadow:none !important;
    border-color:#fff;
}

.input-group {
    border: none !important;
    box-shadow: none !important;
}

.input-group-text {
    background-color: transparent !important;
    border: none;
}

.dropdown-item:focus, .dropdown-item:hover {
    border-radius: 0.35rem !important;
}

.form-check-input {
    box-shadow: none;
}

    .form-check-input:focus {
        border-color: var(--tblr-border-color-translucent);
    }

    .form-check-input:checked {
        background-color: #555;
        border-color: var(--tblr-border-color-translucent);
    }

.icon {
    --tblr-icon-size: 1.0rem !important;
    vertical-align: middle !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: initial !important;
}

.modal-footer {
    background: none !important;
}

.markdown > table thead th, .table thead th {
    background: none !important;
    border-bottom-width: 1px !important;
}


.vr {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.form-label {
    padding-left: 9px !important;
    margin-bottom: 3px;
}

.col-025 {
    flex: 0 0 auto;
    width: 2.08333333%;
}

.col-050 {
    flex: 0 0 auto;
    width: 4.16666667%;
}

.col-075 {
    flex: 0 0 auto;
    width: 6.25%;
}

.dropdown-item:active,
.dropdown-item.active {
    color: #999999 !important;
    background-color: rgba(215, 215, 215, 0.1) !important;
}

.p-05 {
    padding: 0.125rem !important;
}

.px-05 {
    padding-left: 0.125rem !important;
    padding-right: 0.125rem !important;
}

.py-05 {
    padding-top: 0.125rem !important;
    padding-bottom: 0.125rem !important;
}

.ps-05 {
    padding-left: 0.125rem !important;
}

.pe-05 {
    padding-right: 0.125rem !important;
}

.pt-05 {
    padding-top: 0.125rem !important;
}

.pb-05 {
    padding-bottom: 0.125rem !important;
}