


/* Standardwert für die maximale Breite (kann global oder lokal überschrieben werden) */
:root {
    --text-truncate-max-width: 15rem;
}

/* Identisches Verhalten wie .text-truncate, jedoch begrenzt auf 2 Zeilen */
.text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: var(--text-truncate-max-width);
}

/* Identisches Verhalten wie .text-truncate, jedoch begrenzt auf 3 Zeilen */
.text-truncate-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: var(--text-truncate-max-width);
}



.bg-worktime {
    background: linear-gradient( to bottom, 
            var(--off-hours-color, #77777711) 0%, 
            var(--off-hours-color, #77777711) calc(100% * var(--start-hour, 7) / 24), 
            transparent calc(100% * var(--start-hour, 7) / 24), 
            transparent calc(100% * var(--end-hour, 18) / 24), 
            var(--off-hours-color, #77777711) calc(100% * var(--end-hour, 18) / 24), 
            var(--off-hours-color, #77777711) 100% );
}










.editbox {
    border: 1px solid transparent !important;
    border-radius: 0.35rem;
    width: 100%;
    background-color: transparent !important;
    outline: none;
    padding: 0.25rem 0.5rem;
    flex: 1;
}
    .editbox:hover {
        background-color: var(--tsp-hover) !important;
        transition: background-color 0.35s ease;
    }
    .editbox:focus {
        background-color: var(--tsp-hover) !important;
        transition: background-color 0.35s ease;
        border: 1px solid var(--tblr-border-color-translucent) !important;
        transition: border-color 0.35s ease;
    }






.searchbox {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--tsp-hover) !important;
    border-radius: 0.35rem;
    width: 100%;
    background-color: var(--tsp-hover-light) !important;
    outline: none;
    padding: 0.35rem 0.5rem;
    flex: 1;
}

    .searchbox:hover {
        background-color: var(--tsp-hover) !important;
        transition: background-color 0.35s ease;
    }

    .searchbox:focus {
        background-color: var(--tsp-hover) !important;
        transition: background-color 0.35s ease;
        border: 1px solid var(--tblr-border-color-translucent) !important;
        transition: border-color 0.35s ease;
    }







.viewbox {
    border: 1px solid transparent !important;
    border-radius: 0.35rem;
    width: 100%;
    background-color: transparent !important;
    outline: none;
    padding: 0.35rem 0.5rem;
    cursor: default;
    caret-color: transparent;

}